.JengaPart {
    background-color: #6DBFD1;
    /* border: solid;
    border-color: rgb(95, 17, 0); */
    border-radius: 10px;
    margin: 20px;
    max-width: 90%;
    width: 500px;
    min-height: 600px;
}

.Canvas {
    /* background-color: blue; */
    width: 100%;
}