.PlayersBar {
    background-color: #6DBFD1;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 0px;
    display: inline-block;
    max-width: 90%;
    width: 500px;
    text-align: left;
    padding: 15px;
    width: 90%;
    height: 20px;
}