.QuizPart {
    border: solid;
    border-color: black;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    max-width: 90%;
    width: 500px;
    min-height: 600px;
}

.Form {
    text-align: left;
    padding: 5px;
}

.SubmitOk {
    margin: 20px;
    float: right;
}

.Answer {
    margin-top: 5px;
    padding: 3px;
    text-align: left;
    border: solid;
    border-color: black;
    border-radius: 10px;
}