.QuizPart {
    background-color: #6DBFD1;
    /* border: solid;
    border-color: rgb(95, 17, 0); */
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 0px;
    display: inline-block;
    max-width: 90%;
    width: 500px;
    /* min-height: 600px; */
}

.Form {
    text-align: left;
    padding: 15px;
    padding-top: 0px;
}

.SubmitOk {
    font-size: large;
    font-weight: bolder;
    margin: 20px;
    float: right;
    color: rgb(95, 17, 0);
    background-color: #FF7D63;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition-duration: 0.4s;
}

.SubmitOk:hover {
    box-shadow: 0px 0px 4px 1px #c1433a;
    background-color: #f85e53;
}

.Answer {
    background-color: #FFAC63;
    color: rgb(95, 17, 0);
    margin-top: 5px;
    padding: 3px;
    text-align: left;
    /* border: solid;
    border-color: rgb(95, 17, 0); */
    border-radius: 10px;
    font-size:medium;
    font-weight: bold;
    transition-duration: 0.4s;
}

.Answer:hover {
    background-color: #FF7D63;
}

.P {
    color: rgb(95, 17, 0);
    font-size:medium;
    font-weight: bold;
    padding-left: 20px;
}

.Label {
    display: block;
    width: 100%;
}